body {
  padding: 0px 20px;
}

.button {
  display: block;
  width: 108px;
  margin-bottom: 2em;
}

.input {
  display: block;
  margin-bottom: 1em;
}

.label {
  margin-top: 5px;
}

.pdfText {
  width: 100%;
  max-width: 480px;
  height: 150px;
}

hr {
  width: 100%;
  color: grey;
}

.textareaResults {
  display: flex;
  width: 100%;
  max-width: 480px;
  margin-bottom: 20px;
}


